<div id="login-view" class="login-view">
<%= @msg %><br>
<%= form_tag('/') do %>
ユーザー名：<%= text_field_tag :name %><br>
パスワード：<%= text_field_tag :pass %><br>
<%= submit_tag 'ログイン' %><br>
<% end %>
</div>
<div>
	<div class="header">
        <h1 class="logo"><span id="user"></span> CHAT</h1><a id="logout-btn" class="logout-btn">ログアウト</a>
    </div>

    <div class="container">
        <div class="postarea cf">
            <div class="postarea-text">
                <textarea name="" id="content" cols="30" rows="10" placeholder="Enterで投稿"></textarea>
            </div>
            <button id="post" class="postarea-button">投稿する</button>
        </div>
    </div>

    <div id="messages" class="content">
        <div id="dummy"></div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src='https://cdn.mlkcca.com/v2.0.0/milkcocoa.js'></script>
<script>
$(function() {
	var token = "<%= @token %>";
	var milkcocoa = new MilkCocoa("uniib1d489g.mlkcca.com");

	if(token) {
		//Tokenがある場合はMilkcocoaにTokenを渡す
		milkcocoa.authWithToken(token, function(err, user) {
			//location.reloadの方が安定するかも？
			init(user.name);
		});		
	}else{
		//Tokenがない場合はMilkcocoaにログイン済みか問い合わせる
		milkcocoa.user(function(err, user) {
			if(user) {
				$("#login-view").addClass("deactive")
				$("#user").html(user.name);
				init(user.name);
			} else {
				$("#user").html("ログインしてください。");
			}
		});
	}
	function init(username) {
		if(!username) throw new Error("invalid username");
		var ds = milkcocoa.dataStore("message").child(username);
		ds.stream().next(function(err, messages) {
			messages.forEach(function(m) {
				$("#messages").append("<div>"+m.value.content+"</div>");
			});
		});
		ds.on("push", function(pushed) {
			$("#messages").append("<div>"+pushed.value.content+"</div>");
		});
		function post() {
			var content = $("#content").val();
			if(content) {
				ds.push({
					content : content
				});
				$("#content").val("");
			}			
		}
		$("#post").click(function() {
            post();
		});
		$('#content').keydown(function (e) {
            if (e.which == 13){
                post();
                return false;
            }
        });
        $("#logout-btn").click(function(e) {
        	milkcocoa.logout(function() {
        		location.reload();
        	});
        })
	}
});
</script>